<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guesser</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="top">
        <div class="title">
            <h1>Age Guesser</h1>
        </div>
    </div>

    <div class="content">
        <div class="card">
            <h1>Hey {{guess_name}}</h1>
            <h2>I think you are {{gender}},</h2>
            <h3>And maybe {{age}} years old.</h3>
        </div>
    </div>

</body>

<footer>
    <p>Copyright {{year}} by {{name}}</p>
</footer>

</html>